<head>
  <!-- Site Name -->
  <title>SCAUNIFEI</title>
</head>

<!-- Subintro
================================================== -->
<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4 offset8">
        <div class="search">
          <form action="/busca" method="GET" class="input-append">
            <input class="search-form" id="appendedPrependedInput" name="search" type="text"
              placeholder="Faça sua busca aqui..." required>
            <button class="btn btn-inverse" type="submit"><i class="icon-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Conteúdo
================================================== -->
<section id="intro">

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="text">
          <h2><b>Últimas disciplinas adicionadas</b></h2>
        </div>

        <div id="mainslider" class="flexslider">
          <ul class="slides">
            {{#each lastadded}}
            <li data-thumb="{{cover}}">
              <img data-src="{{cover}}" alt="{{name}}" style="width:200px;height:200px;" class="lazyload" />
              <div class="flex-caption">
                <a href="/disciplina/{{code}}">
                  <h2>{{code}} - {{name}}</h2>
                </a>
                <h3>Objetivos</h3>
                <p align="justify"> {{objectives}}</p>
              </div>
            </li>
            {{else}}
            <li data-thumb="img/book.png">
              <img data-src="img/book.png" alt="Book" style="width:200px;height:200px;" class="lazyload" />
              <div class="flex-caption">
                <a href="/">
                  <h2>Nenhuma disciplina cadastrada!</h2>
                </a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Not in use
<section id="maincontent">
  <div class="container">

    <div class="row">
      <div class="span12">
        <h4 class="rheading">Últimos arquivos adicionados<span></span></h4>
        <div class="row">
          <div class="span12">
            <div id="latest-work" class="carousel btleft">
              <div class="carousel-wrapper">
                <ul class="da-thumbs">

                  {{#each lastadded}}
                  <li>
                    <img data-src="{{cover}}" alt="{{name}}" style="width:256px;height:256px;" class="lazyload" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="{{cover}}">
                        <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                      </a>
                      <a onclick="location.href='/disciplina/{{code}}'">
                        <i class="icon-link icon-rounded icon-48 active"></i>
                      </a>
                      <div class="hidden-tablet">
                        <p>{{code}}<br>{{name}}<br>{{institute}}</p>
                      </div>
                    </article>
                  </li>
                  {{else}}
                  <li>
                    <img data-src="img/book.png" alt="Book" style="width:256px;height:256px;" class="lazyload" />
                    <article class="da-animate da-slideFromRight">
                      <a class="zoom" data-pretty="prettyPhoto" href="img/book.png">
                        <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                      </a>
                      <a onclick="location.href='/'">
                        <i class="icon-link icon-rounded icon-48 active"></i>
                      </a>
                      <div class="hidden-tablet">
                        <p>Nenhuma disciplina cadastrada!</p>
                      </div>
                    </article>
                  </li>
                  {{/each}}

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</section> -->