<!-- Subintro
================================================== -->
<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span4 offset8">
        <div class="search">
          <form action="/busca" method="GET" class="input-append">
            <input class="search-form" id="appendedPrependedInput" name="search" type="text"
              placeholder="Faça sua busca aqui..." required>
            <button class="btn btn-inverse" type="submit"><i class="icon-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Conteúdo
================================================== -->
<section id="intro">

  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="text">
          <h2><b>Últimas disciplinas adicionadas</b></h2>
        </div>

        <div id="mainslider" class="flexslider">
          <ul class="slides">
            {{#each lastadded}}
            <li data-thumb="{{cover}}">
              <img data-src="{{cover}}" alt="{{name}}" style="width:200px;height:300px;" class="lazyload" />
              <div class="flex-caption">
                <a href="/disciplina/{{_id}}">
                  <h2>{{code}} - {{name}}</h2>
                </a>
                <h3>Objetivos</h3>
                <p align="justify"> {{objectives}}</p>
              </div>
            </li>
            {{else}}
            <li data-thumb="img/book.png">
              <img data-src="img/book.png" alt="Book" style="width:200px;height:300px;" class="lazyload" />
              <div class="flex-caption">
                <a href="/">
                  <h2>Nenhuma disciplina cadastrada!</h2>
                </a>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>