<!-- Site Name -->
<title>SCAUNIFEI - ECA</title>

<!-- Subintro
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home icon-rounded active"></i></a><i class="icon-angle-right"></i>
                    </li>
                    <li><a href="/curso/todos_cursos">Cursos</a><i class="icon-angle-right"></i>
                    <li class="active"><a href="/curso/eca">Engenharia de Controle e Automação</a>
                </ul>
            </div>
            <div class="span4">
                <div class="search">
                    <form action="/busca" method="GET" class="input-append">
                        <input class="search-form" id="appendedPrependedInput" name="search" type="text"
                            placeholder="Faça sua busca aqui..." required>
                        <button class="btn btn-dark" type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Conteúdo
================================================== -->

<section id="maincontent">
    <div class="container">

        <div class="row">

            <div class="span4 center">
                <img src="../img/cursos/eca.png" alt="ECA" title="ECA">
            </div>

            <div class="span8">

                <h1>Sobre o curso</h1>

                <h4><strong>Coordenador:</strong> Fadul Ferrari Rodor</h4>

                <h4><strong>Telefone/Ramal:</strong> (31) 3839-0856</h4>

                <h4><strong>Email:</strong> <a href="mailto:eca.itabira@unifei.edu.br">eca.itabira@unifei.edu.br</a>
                </h4>

                <h4><strong>Sala:</strong> 2441</h4>

                <h4><strong>Apresentação:</strong></h4>
                <p align="justify"> O engenheiro de controle e automação projeta e opera equipamentos utilizados nos
                    processos automatizados de indústrias em geral, além de fazer sua manutenção. Ocupa-se do
                    gerenciamento
                    de projetos de automação industrial e comercial. É o responsável pela programação das máquinas e
                    pela
                    adaptação de softwares aos processos industriais. Em empresas que já estão automatizadas,
                    redimensiona,
                    opera e mantém os sistemas e equipamentos já instalados.
                </p>

                <h4><strong>Plano Pedagógico do Curso:</strong></h4>

                <div class="span8 center">
                    <form action="/ler/PPC_ECA.pdf" target="_blank" method="GET">
                        <button class="btn btn-large btn-success" type="submit"><i class="icon-laptop icon-white"></i>
                            Ler Online
                        </button>
                    </form>
                </div>

            </div>

        </div>

        <div class="row">
            <h1>Disciplinas</h1>
        </div>

        <div class="row">
            <div class="center">
                {{#each disciplinas}}
                <div class="li span4" style="margin-bottom: 1rem!important;">
                    <a href="/disciplina/{{code}}" target="_blank"><img src="{{cover}}" alt="{{code}}"
                            style="width:256px;height:256px;"></a>
                    <h4><a href="/disciplina/{{code}}" target="_blank">{{name}}</a></h4>
                </div>
                {{else}}
                <h2>Nenhuma disciplina cadastrada!</h2>
                {{/each}}
            </div>
        </div>
</section>