<!-- Subintro
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span8">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="icon-home icon-rounded active"></i></a><i class="icon-angle-right"></i>
                    </li>
                    <li><a href="/admin">Portal do Administrador</a> <i class="icon-angle-right"></i></li>
                    <li><a href="/admin/subjectslist">Gerenciar disciplinas</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Conteúdo
================================================== -->
<section id="maincontent">
    <div class="container">
        <div class="row">

            {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
            {{else}}
            {{/each}}

            <div class="row">

                <div class="span6">
                    <h2>Lista de disciplinas cadastradas</h2>
                </div>

                <div class="span3 offset3">
                    <button class="btn btn-large btn-success" type="button" data-toggle="modal"
                        data-target="#addsubj"><i class="icon-plus"></i>Adicionar disciplina
                    </button>

                    <div class="modal fade" id="addsubj" tabindex="-1" role="dialog" aria-labelledby="addsubj"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addsubj">Adicionar disciplina
                                    </h5>
                                </div>
                                <div class="modal-body">

                                    <form action="/admin/addsubj" method="POST">
                                        <div class="row">

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="name">Nome da Disciplina:</label>
                                                </div>
                                                <input type="text" class="input-block-level" name="name"
                                                    placeholder="Insira o nome da Disciplina (ex. 'Ciências do Ambiente')"
                                                    minlength="2" required>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="code">Código:</label>
                                                </div>
                                                <input type="text" class="input-block-level" name="code"
                                                    placeholder="Insira o código da Disciplina (ex. 'EAMI30')"
                                                    minlength="6" required>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="points">Carga Horária:</label>
                                                </div>
                                                <input type="text" class="input-block-level" name="points"
                                                    placeholder="Insira a carga horária da Disciplina (ex. '32')"
                                                    maxlength="3" required>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="institute">Unidade Acadêmica:</label>
                                                </div>
                                                <select class="input-block-level" name="institute" required>
                                                    <option value="">- Selecione -</option>
                                                    <option value="ICT - Instituto de Ciências Tecnológicas">
                                                        Instituto de Ciências Tecnológicas (ICT)
                                                    </option>
                                                    <option value="IEI - Instituto de Engenharias Integradas">
                                                        Instituto de Engenharias Integradas (IEI)
                                                    </option>
                                                    <option value="ICPA - Instituto de Ciências Puras e Aplicadas">
                                                        Instituto de Ciências Puras e Aplicadas (ICPA)
                                                    </option>
                                                </select>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="course">Curso:</label>
                                                </div>
                                                <select class="input-block-level" name="course" required>
                                                    <option value="">- Selecione -</option>
                                                    <option value="Base">Básica</option>
                                                    <option value="EAM">Engenharia Ambiental (EAM)</option>
                                                    <option value="EMB">Engenharia de Mobilidade (EMB)</option>
                                                    <option value="ECO">Engenharia de Computação (ECO)</option>
                                                    <option value="ECA">Engenharia de Controle e Automação (ECA)
                                                    </option>
                                                    <option value="EMT">Engenharia de Materiais (EMT)</option>
                                                    <option value="EPR">Engenharia de Produção (EPR)</option>
                                                    <option value="ESS">Engenharia de Saúde e Segurança (ESS)</option>
                                                    <option value="EEL">Engenharia Elétrica (EEL)</option>
                                                    <option value="EME">Engenharia Mêcanica (EME)</option>
                                                </select>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="type">Tipo:</label>
                                                </div>
                                                <select class="input-block-level" name="type" required>
                                                    <option value="">- Selecione -</option>
                                                    <option value="Regular">Regular</option>
                                                    <option value="Férias">Férias</option>
                                                    <option value="Ensino Individual">Ensino Individual</option>
                                                </select>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="modalidade">Modalidade:</label>
                                                </div>
                                                <select class="input-block-level" name="modalidade" required>
                                                    <option value="">- Selecione -</option>
                                                    <option value="A Distância">A Distância</option>
                                                    <option value="Presencial">Presencial</option>
                                                    <option value="Semi-Presencial">Semi-Presencial</option>
                                                </select>
                                            </div>

                                            <div class="span6 form-group" id="addteachers">
                                                <div class="text-left">
                                                    <label for="course">Professor(es) Responsável(eis):
                                                        <button class="btn btn-theme" type="button" id="more_fields"
                                                            onclick="add_fields();"><i class="icon-plus">
                                                            </i>Professor
                                                        </button>
                                                    </label>
                                                    <input type="hidden" value="0" id="new_fields">
                                                </div>
                                                <select class="input-block-level" name="teachers[0]" required>
                                                    <option value="">- Selecione -</option>
                                                    {{#each docentes}}
                                                    <option value="{{_id}}">{{#with usuario}}{{name}} {{surname}}
                                                        ({{course}}){{/with}}</option>
                                                    {{else}}
                                                    <option disabled selected>Nenhum professor cadastrado!</option>
                                                    {{/each}}
                                                </select>

                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="tags">Tags:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level" name="tags"
                                                    rows="2" required
                                                    placeholder="Separadas por vírgula (ex. 'Ecologia, Ecossistemas')"
                                                    minlength="2"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="ementa">Ementa:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="ementa" rows="4" required
                                                    placeholder="Insira a ementa da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="objectives">Objetivos:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="objectives" rows="3" required
                                                    placeholder="Insira os objetivos da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="bibliography_basic">Bibliografia Básica:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="bibliography_basic" rows="3" required
                                                    placeholder="Insira a bibliografia básica da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="bibliography_comp">Bibliografia Complementar:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="bibliography_comp" rows="3" required
                                                    placeholder="Insira a bibliografia complementar da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="content">Conteúdo:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="content" rows="4" required
                                                    placeholder="Insira o conteúdo da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="skills">Habilidades:</label>
                                                </div>
                                                <textarea style="resize:vertical" class="input-block-level"
                                                    name="skills" rows="4" required
                                                    placeholder="Insira as habilidades da Disciplina"></textarea>
                                            </div>

                                            <div class="span6 form-group">
                                                <div class="text-left">
                                                    <label for="cover">Capa da Disciplina:</label>
                                                </div>
                                                <input type="url" class="input-block-level" name="cover"
                                                    placeholder="Insira o endereço da imagem da capa">
                                            </div>

                                        </div>
                                        <div class="span6 center">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                                    class="icon-remove icon-white"></i>
                                                Cancelar
                                            </button>
                                            <button class="btn btn-success" type="submit"><i
                                                    class="icon-ok icon-white"></i>
                                                Concluir
                                            </button>
                                        </div>
                                        <br>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function add_fields() {
                            var x = parseInt($('#new_fields').val()) + 1;
                            document.getElementById('addteachers').innerHTML += "<select class='input-block-level' name='teachers[" + x + "]'> <option value=''>- Selecione -</option> {{#each docentes}} <option value='{{_id}}'>{{#with usuario}} {{name}} {{surname}} ({{course}}){{/with}} </option> {{else}} <option disabled selected>Nenhum professor cadastrado!</option> {{/each}} </select>";
                            $('#new_fields').val(x);
                        }
                    </script>

                </div>

            </div>

            <div class="row">

                <div class="span12 table-responsive">

                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th> Nº</th>
                                <th><i class="icon-book"></i> Nome</th>
                                <th><i class="icon-barcode"></i> Código</th>
                                <th><i class="icon-dashboard"></i> Carga Horária</th>
                                <th><i class="icon-bookmark"></i> Curso</th>
                                <th><i class="icon-tags"></i> Unidade Acadêmica</th>
                                <th><i class="icon-pushpin"></i> Tipo</th>
                                <th><i class="icon-pencil"></i> Modalidade</th>
                                <th><i class="icon-cogs"></i> Ações</th>
                            </tr>

                            {{#each disciplinas}}
                            <tr>
                                <td>{{@index}}</td>
                                <td><a href="/disciplina/{{_id}}" target="_blank">{{name}}</a></td>
                                <td>{{code}}</td>
                                <td>{{points}}</td>
                                <td>{{course}}</td>
                                <td>{{institute}}</td>
                                <td>{{type}}</td>
                                <td>{{modalidade}}</td>
                                <td>

                                    <div class="modal fade" id="edit{{_id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="editmodal" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editmodal">Editar disciplina:
                                                        <b>{{name}}</b>
                                                    </h5>
                                                </div>
                                                <div class="modal-body">

                                                    <form action="/admin/editsubj" method="POST">
                                                        <div class="row">

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="text">Nome:</label>
                                                                </div>
                                                                <input type="text" class="input-block-level" name="name"
                                                                    placeholder="Insira o nome da Disciplina (ex. 'Ciências do Ambiente')"
                                                                    minlength="2" value="{{name}}" required>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="code">Código:</label>
                                                                </div>
                                                                <input type="text" class="input-block-level" name="code"
                                                                    placeholder="Insira o código da Disciplina (ex. 'EAMI30')"
                                                                    minlength="6" value="{{code}}" required>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="points">Carga Horária:</label>
                                                                </div>
                                                                <input type="text" class="input-block-level"
                                                                    name="points"
                                                                    placeholder="Insira a carga horária da Disciplina (ex. '32')"
                                                                    maxlength="3" value="{{points}}" required>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="institute">Unidade Acadêmica:</label>
                                                                </div>
                                                                <select class="input-block-level" name="institute"
                                                                    required>
                                                                    <option value="{{institute}}">- {{institute}} -
                                                                    </option>
                                                                    <option
                                                                        value="ICT - Instituto de Ciências Tecnológicas">
                                                                        Instituto de Ciências Tecnológicas (ICT)
                                                                    </option>
                                                                    <option
                                                                        value="IEI - Instituto de Engenharias Integradas">
                                                                        Instituto de Engenharias Integradas (IEI)
                                                                    </option>
                                                                    <option
                                                                        value="ICPA - Instituto de Ciências Puras e Aplicadas">
                                                                        Instituto de Ciências Puras e Aplicadas (ICPA)
                                                                    </option>
                                                                </select>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="course">Curso:</label>
                                                                </div>
                                                                <select class="input-block-level" name="course"
                                                                    required>
                                                                    <option value="{{course}}">- {{course}} -</option>
                                                                    <option value="Base">Básica</option>
                                                                    <option value="EAM">Engenharia Ambiental (EAM)
                                                                    </option>
                                                                    <option value="EMB">Engenharia de Mobilidade (EMB)
                                                                    </option>
                                                                    <option value="ECO">Engenharia de Computação (ECO)
                                                                    </option>
                                                                    <option value="ECA">Engenharia de Controle e
                                                                        Automação (ECA)
                                                                    </option>
                                                                    <option value="EMT">Engenharia de Materiais (EMT)
                                                                    </option>
                                                                    <option value="EPR">Engenharia de Produção (EPR)
                                                                    </option>
                                                                    <option value="ESS">Engenharia de Saúde e Segurança
                                                                        (ESS)
                                                                    </option>
                                                                    <option value="EEL">Engenharia Elétrica (EEL)
                                                                    </option>
                                                                    <option value="EME">Engenharia Mêcanica (EME)
                                                                    </option>
                                                                </select>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="type">Tipo:</label>
                                                                </div>
                                                                <select class="input-block-level" name="type" required>
                                                                    <option value="{{type}}">- {{type}} -</option>
                                                                    <option value="Regular">Regular</option>
                                                                    <option value="Férias">Férias</option>
                                                                    <option value="Ensino Individual">Ensino Individual
                                                                    </option>
                                                                </select>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="modalidade">Modalidade:</label>
                                                                </div>
                                                                <select class="input-block-level" name="modalidade"
                                                                    required>
                                                                    <option value="{{modalidade}}">- {{modalidade}} -
                                                                    </option>
                                                                    <option value="A Distância">A Distância</option>
                                                                    <option value="Presencial">Presencial</option>
                                                                    <option value="Semi-Presencial">Semi-Presencial
                                                                    </option>
                                                                </select>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="docentes">Professor(es)
                                                                        Responsável(eis):</label>
                                                                </div>

                                                                {{#each teachers}}
                                                                <select class="input-block-level"
                                                                    name="teachers[{{@index}}]" required>
                                                                    <option value="{{_id}}" selected>{{#with usuario}}-
                                                                        {{name}} {{surname}} ({{course}}) - {{/with}}
                                                                    </option>
                                                                    {{#each ../../docentes}}
                                                                    <option value="{{_id}}">{{#with usuario}}{{name}}
                                                                        {{surname}} ({{course}}){{/with}}</option>
                                                                    {{else}}
                                                                    <option disabled>Nenhum professor
                                                                        cadastrado!</option>
                                                                    {{/each}}
                                                                </select>
                                                                {{/each}}
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="tags">Tags:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="tags" rows="2"
                                                                    placeholder="Separadas por vírgula (ex. 'Ecologia, Ecossistemas')"
                                                                    minlength="2" required>{{tags}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="ementa">Ementa:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="ementa" rows="4"
                                                                    placeholder="Insira a ementa da Disciplina"
                                                                    required>{{ementa}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="objectives">Objetivos:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="objectives" rows="3"
                                                                    placeholder="Insira os objetivos da Disciplina"
                                                                    required>{{objectives}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="bibliography_basic">Bibliografia
                                                                        Básica:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="bibliography_basic"
                                                                    rows="3"
                                                                    placeholder="Insira a bibliografia básica da Disciplina"
                                                                    required>{{bibliography_basic}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="bibliography_comp">Bibliografia
                                                                        Complementar:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="bibliography_comp"
                                                                    rows="3"
                                                                    placeholder="Insira a bibliografia complementar da Disciplina"
                                                                    required>{{bibliography_comp}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="content">Conteúdo:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="content" rows="4"
                                                                    placeholder="Insira o conteúdo da Disciplina"
                                                                    required>{{content}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="skills">Habilidades:</label>
                                                                </div>
                                                                <textarea style="resize:vertical"
                                                                    class="input-block-level" name="skills" rows="4"
                                                                    placeholder="Insira as habilidades da Disciplina"
                                                                    required>{{skills}}</textarea>
                                                            </div>

                                                            <div class="span6 form-group">
                                                                <div class="text-left">
                                                                    <label for="cover">Capa da Disciplina:</label>
                                                                </div>
                                                                <input type="url" class="input-block-level" name="cover"
                                                                    placeholder="Insira o endereço da imagem da capa"
                                                                    value="{{cover}}">
                                                            </div>
                                                        </div>
                                                        <div class="span6 center">
                                                            <button type="button" class="btn btn-danger"
                                                                data-dismiss="modal"><i
                                                                    class="icon-remove icon-white"></i>
                                                                Cancelar
                                                            </button>
                                                            <input type="hidden" name="id" value="{{_id}}">
                                                            <button class="btn btn-success" type="submit"><i
                                                                    class="icon-ok icon-white"></i>
                                                                Concluir
                                                            </button>
                                                        </div>
                                                        <br>
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="delete{{_id}}" tabindex="-1" role="dialog"
                                        aria-labelledby="deletemodal" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deletemodal">Excluir disciplina</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Você tem certeza que deseja excluir a disciplina <b>{{name}}</b>?
                                                        Essa ação não pode ser desfeita!
                                                        <br>Obs.: sua <b>pasta e arquivos</b> enviados também serão
                                                        excluídos.
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="span6 center">
                                                        <form action="/admin/deletesubj" method="POST">
                                                            <button type="button" class="btn btn-inverse"
                                                                data-dismiss="modal"><i
                                                                    class="icon-remove icon-white"></i>
                                                                Não
                                                            </button>
                                                            <input type="hidden" name="id" value="{{_id}}">
                                                            <input type="hidden" name="folderid" value="{{folderid}}">
                                                            <button class="btn btn-danger" type="submit"><i
                                                                    class="icon-ok icon-white"></i>
                                                                Sim
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-theme" type="button" data-toggle="modal"
                                        data-target="#edit{{_id}}"><i class="icon-edit"></i>
                                    </button>
                                    <br> <br>
                                    <button class="btn btn-danger" type="button" data-toggle="modal"
                                        data-target="#delete{{_id}}"><i class="icon-trash"></i>
                                    </button>

                                </td>
                            </tr>
                            {{else}}
                            <h2>Nenhuma disciplina cadastrada!</h2>
                            {{/each}}

                        </tbody>
                    </table>

                </div>

            </div>

        </div>
    </div>
</section>